#nameplate-container {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 10%;
  padding-right: 10%;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: stretch;
  gap: 5%;
}

.filler {
  height: 0;
  min-height: 100%;
}

#nameplate {
  font-size: 40px;
  white-space: nowrap;
}

#jobtitle {
  padding-top: 10px;
  font-size: 30px;
  color: var(--muted-gray);
}

#update {
  padding-top: 10px;
  font-size: 18px;
  color: var(--gray);
}