
:root {
  --dark-color: #0B1642;
  --dark-gradient-color: #122570;
  --dark-standout-color: #1B175A;
  --standout-color: #3930b4;
  --bright-color: #2583ff;
  --light-color: #0462dd;
  --muted-color: #0b52af;
  --muted-gray: #b3b3b3;
  --gray: #999999;

  color: #ffffff;
}

p {
  white-space: pre-line;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  background: linear-gradient(135deg, var(--dark-gradient-color) 0%, var(--dark-color) 100% ); 
  
  /* Make sure the window is always full */
  min-height: 100vh;
}


