* {
    margin: 0;
    overflow-x: hidden;
  }

body {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

#profileImage {
    padding-left: 5%;
    padding-right: 5%;
    width: 40%;
}

#profile {
    margin: 8px;
}

/* navigation bar */
#top_nav {
    background-color: rgb(58, 57, 57);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    height: 30px; /* Not needed, added for clarity */
    width: 100%;
}
#top_nav ul {
    list-style-type: none;
    float: right;
    padding-right: 50px;
    padding-top: 12px;
}
#top_nav li {
    overflow-y: hidden;
    float: left;
    border-right: 1px solid #bbb;
    padding:5px 0px 5px 0px;
}
#top_nav li a {
    color: white;
    background-color: rgb(58, 57, 57);
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}
#top_nav li a:hover {
    background-color: rgb(17, 17, 17);
}


.main_banner {
    background-color: aqua;
    text-align: center;
}

.banner {
    background-color: var(--color);
    text-align: center;
    padding: 30px;
}

#rightSideImageDescriptor {
    display: inline-block;
    background-color: var(--color);
    padding: 30px 2% 30px 2%;
    position: relative;
    vertical-align: top;
    left: 0%;
    width: 36%;
}

.projectPanel {
    display: inline-block;
    width: 40%;
}

.projectPanel img {
    
}

#projectPanelSection {
    width: 80%;
    padding: 20px 10% 20px 10%;
}